@import "vendor/featherlight";

.desktop-view.with-featherlight {
  margin-right: 16px;
}

.featherlight iframe {
  height: 90vh;
  width: 95vw !important; // inline width property
  max-width: 1920px;
  max-height: 1080px;
  background: #222;
}

.featherlight .featherlight-content {
  padding: 0;
  border-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-height: unset;
  overflow: visible;
}

.featherlight {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.iframe-expand-btn {
  float: right;
  z-index: 1;
  position: relative;
}

.featherlight .featherlight-close-icon {
  top: -25px;
  background: none;
  line-height: 1;
  font-size: 24px;
  right: -3px;
  color: white;
  transition: color 0.35s ease-in-out;
  &:hover {
    color: red;
  }
}

.featherlight-iframe .featherlight-content {
  @media only screen and (max-width: 1024px) {
    padding: 0;
    border-bottom: 0;
  }
}
